* {
  font-family: "Open Sans", sans-serif;
}
nav {
  background-color: rgb(65, 66, 66);
  padding: 20px;
  position: sticky;
  top: 0;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}
nav li a {
  text-decoration: none;
  color: white;
}
nav li a.strength {
  color: rgb(239, 243, 10);
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
.images {
  text-align: center;
  margin: 80px 0;
  white-space: nowrap;
  margin-left: -10%;
}
.images li {
  display: inline-block;
  width: 40%;
  margin: 20px 5%;
}

.images li img {
  max-width: 100%;
}
h1 {
  font-size: 40px;
}
a:hover {
  color: aqua;
}
div {
  text-align: center;
  font-size: 40px;
  }
  body {
    width: 100%;
  }
  article {
    color: rgb(32, 32, 32);
  }
  
  .ett{
    font-size: 30px;
  }
 h2{
font-size: 60px;
}
.psh{
  margin-top: 40px;
}
.h2s{
font-size: 25px;
margin-top: 40px;
}
.pull{
  font-size: 60px;
  margin-top: 40px;
}
.leg{
  font-size: 60px;
  margin-top: 40px;
}